<h2>
  <strong><%= @user.username %></strong>
  <% if not @user.active  %>
    <span class="badge badge-danger">Account closed</span>
  <% end %>
</h2>
<% if @admin && @user.active %>
  <%= link_to 'Close account', toggle_activity_user_path(@user.id), method: :post, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
<% if @admin && !@user.active %>
  <%= link_to 'Open account', toggle_activity_user_path(@user.id), method: :post, class:"btn btn-primary" %>
<% end %>
<p>
has made <%= @user.ratings.count %> ratings, average rating <%= round(@user.average_rating) %>
</p>
<h3>ratings</h3>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, id: rating.id %>
      <% end %>
    </li>
  <% end %>
</ul>
<h3>beerclubs</h3>
<ul>
<% @user.beer_clubs.each do |club| %>
    <li> <%= link_to club, beer_club_path(club.id) %> </li>
<% end %>
</ul>
<p></p>
<% if @favorite_style %>
  <p> favorite beer style <%= @favorite_style.name %> </p>
<% end %>
<p></p>
<% if @favorite_brewery %>
  <p> favorite brewery <%= @favorite_brewery %> </p>
<% end %>
<p></p>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
